# =============================================================================
# exclude IntelliJ IDEA files
# =============================================================================
.idea/

# =============================================================================
# exclude MAC OS X files
# =============================================================================
.DS_Store

# =============================================================================
# exclude output files
# =============================================================================
target/

# =============================================================================
# Eclipse project files
# =============================================================================
.classpath
.project
.settings
.springBeans
.checkstyle

# =============================================================================
# exclude log files
# =============================================================================
log/*
logs/*

# =============================================================================
# exclude temp files
# =============================================================================
temp/*
